
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <h2 class="display-4 fw-normal">
        Can Geylan
    </h2>
    <h3 class="lead fw-light">Portfolio</h3>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-12  pb-3 ">
        <p class="lead fw-normal "><strong>Obelisk Fashion:</strong> An e-Commerce type website designed with ASP.NET MVC, Entity Framework and Azure SQL relational database</p>
    </div>
    <a asp-controller="Obelisk" asp-action="Index"><img src="~/img/home/obeliskfashion.png" class="img-fluid portfolioBanners" /></a>
    <h4 class="lead mt-4 fw-normal"> February 2021 - on going</h4>
</div>

<div  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-12  pb-3 ">
        <p class="lead fw-normal "><strong>Penthouse Configurator:</strong> Quiz type of game I had to built during my training. Written in JavaScript and GreenSock Animation Platform (GSAP) framework</p>
    </div>
    <a asp-action="Penthouse"> <img src="~/img/home/penthouse.png" class="img-fluid portfolioBanners" /></a>
    <h4 class="lead mt-4  fw-normal">June 2020</h4>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <p class="lead fw-normal "><strong>Galgje:</strong> My first Javascript App</p>
    <a asp-action="Galgje"><img src="~/img/home/galgje.png" class="img-fluid portfolioBanners" /></a>
    <h4 class="lead mt-4 fw-normal">April 2020</h4>
</div>
